* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 5rem;
}

header {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    background-color: white;
}

main {
    font-family: 'Oswald', sans-serif;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.container-ul {
    display: flex;
}

.img-logo {
    padding: 10px;
    margin-top: 5px;
    margin-left: 20px;
}

.li-header {
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
}

.inizia {
    display: inline;
    padding: 10px;
    margin-top: 5px;
    margin-right: 30px;
    background-color: blue;
    color: white;
    border: none;
}

.nav-a {
    text-decoration: none;
    color: black;
}

.primo-container {
    background-color: #00BFFF;
}

.primasezione {
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.img1 {
    width: 600px;
    margin-bottom: -100px;
}

.prima-sezione {
    display: flex;
    text-align: justify;
}

.inizia2 {
    margin-top: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blue;
    border: none;
}

.a-inizia {
    text-decoration: none;
    color: white;
}

.primo-simbolo {
    font-size: 40px;
    text-align: left;
    margin-top: 30px;
}

.seconda-sezione {
    max-width: 900px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.input {
    margin-top: 50px;
    font-size: large;
}

.padding {
    margin-bottom: 20px;
}

.v {
    list-style: inside;
    text-align: left;
    list-style: none;
}

.mensile {
    margin-left: 30px;
}

.colonne {
    display: flex;
    gap: 1rem;
    margin-top: 50px;
}

.singolo {
    border: grey 1px solid;
    text-align: center;
    padding: 10px;
}

.section2 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.section-due {
    border: grey 1px solid;
    text-align: center;
    padding: 10px;
}

.blue {
    color: blue;
}

.sezione-due {
    border-left: grey 1px solid;
    border-right: grey 1px solid;
    border-bottom: grey 1px solid;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.sezione2a {
    width: 70%;
    padding-left: 10px;
}

.h3 {
    font-size: 30px;
    margin-top: 20px;
}

.sezione2b {
    width: 30%;
}

.section3 {
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

.immagine1 {
    width: 500px;
    margin-top: 60px;
}

.trova {
    background-color: white;
    border: black 1px solid;
    padding: 10px;
    margin-top: 40px;
}

.trova1 {
    text-decoration: none;
    color: black;
}

.sezione3 {
    margin-top: 70px;
    margin-left: 40px;
}

.section4 {
    width: 900px;
    margin: auto;
    margin-top: 100px;
}

.sezione-4 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.img2 {
    width: 300px;
}
.sezione4a {
    width: 25%;
}

.sezione4b {
    width: 25%;
}

.sezione4c {
    width: 25%;
}

.sezione4d {
    width: 25%;
}

.sezione4e {
    width: 25%;
}

.sezione4f {
    width: 25%;
}

.section5 {
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
    text-align: left;
}

.section6 {
    display: flex;
    justify-content: center;
}

.sezione6a {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.img-6 {
    width: 300px;
    padding: 10px;
}

.a {
    background-color: lightgreen;
}

.b {
    background-color: darkred;
}

.c {
    background-color: cornflowerblue;

}

.d {
    background-color: red;
    
}

.sezione6b {
    width: 50%;
    margin-top: 100px;
    background-color: lightgray;
    margin-left: 50px;
    margin-right: 50px;
}

.sezione6c {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.section7 {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #00BFFF;
    align-items: center;
}

.brown {
    font-size: 50px;
    color: brown;
}

.section8 {
    margin-top: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.domande {
    border-bottom: lightgray 1px solid;
    padding-bottom: 40px;
}

.prima-domanda {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.seconda-domanda {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.terza-domanda {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

p {
    padding-bottom: 20px;
}

.bordi {
    border-bottom: lightgray 1px solid;
}

.paragrafo {
    opacity: 0;
}

.paragrafo:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    background-color: black;
}

.footer {
    display: flex;
    color: white;
    margin-top: 100px;
    justify-content: space-around;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 50px;
    align-items: center;
}

.padding-footer {
    padding: 10px;
}

.h-3 {
    font-size: 30px;
}